.grid-debug:before,
.grid-debug .grid-container:before {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  content: "grid-none" !important;
  font-size: 16px !important;
  color: red !important;
  z-index: 100000000 !important;
}
.grid-debug:before {
  position: fixed !important;
}
.grid-debug.grid-xxl:before,
.grid-debug .grid-container.grid-xxl:before {
  content: "grid-xxl" !important;
}
.grid-debug.grid-xl:before,
.grid-debug .grid-container.grid-xl:before {
  content: "grid-xl" !important;
}
.grid-debug.grid-lg:before,
.grid-debug .grid-container.grid-lg:before {
  content: "grid-lg" !important;
}
.grid-debug.grid-md:before,
.grid-debug .grid-container.grid-md:before {
  content: "grid-md" !important;
}
.grid-debug.grid-sm:before,
.grid-debug .grid-container.grid-sm:before {
  content: "grid-sm" !important;
}
.grid-debug.grid-xs:before,
.grid-debug .grid-container.grid-xs:before {
  content: "grid-xs" !important;
}
/* --- grid --- */
.grid-group,
.grid-split {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
/* clearfix */
.grid-group:after,
.grid-tiles:after,
.grid-split:after,
.grid-split-outerleft:after,
.grid-split-outerright:after,
.grid-split-left:after,
.grid-split-right:after,
.grid-tiles-10:after,
.grid-tiles-6:after,
.grid-tiles-5:after,
.grid-tiles-4:after,
.grid-tiles-3:after,
.grid-tiles-2:after,
.grid-tiles-1:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* --- split --- */
.grid-split-outerleft,
.grid-split-outerright,
.grid-split-left,
.grid-split-right {
  width: auto;
  display: block;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
}
.grid-split-outerleft,
.grid-split-outerright {
  float: left;
  width: 0;
  padding: 0;
}
.grid-split-outerright {
  float: right;
}
.grid-split-left,
.grid-split-right {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
}
/* by pixels */
/*
.grid-split > .grid-split-outerleft 	{width: 100%; padding-right: 320px; }
.grid-split > .grid-split-outerright > .grid-split-right {width: 320px; left: -320px;}
*/
.grid-split-100-auto > .grid-split-outerleft > .grid-split-left {
  width: 100px;
}
.grid-split-100-auto > .grid-split-outerright {
  width: 100%;
  padding-left: 100px;
}
.grid-split-auto-100 > .grid-split-outerleft {
  width: 100%;
  padding-right: 100px;
}
.grid-split-auto-100 > .grid-split-outerright > .grid-split-right {
  width: 100px;
  left: -100px;
}
.grid-split-150-auto > .grid-split-outerleft > .grid-split-left {
  width: 150px;
}
.grid-split-150-auto > .grid-split-outerright {
  width: 100%;
  padding-left: 150px;
}
.grid-split-150-150 > .grid-split-outerleft {
  width: 100%;
  padding-right: 150px;
}
.grid-split-150-150 > .grid-split-outerright > .grid-split-right {
  width: 150px;
  left: -150px;
}
.grid-split-200-auto > .grid-split-outerleft > .grid-split-left {
  width: 200px;
}
.grid-split-200-auto > .grid-split-outerright {
  width: 100%;
  padding-left: 200px;
}
.grid-split-auto-200 > .grid-split-outerleft {
  width: 100%;
  padding-right: 200px;
}
.grid-split-auto-200 > .grid-split-outerright > .grid-split-right {
  width: 200px;
  left: -200px;
}
.grid-split-250-auto > .grid-split-outerleft > .grid-split-left {
  width: 250px;
}
.grid-split-250-auto > .grid-split-outerright {
  width: 100%;
  padding-left: 250px;
}
.grid-split-auto-250 > .grid-split-outerleft {
  width: 100%;
  padding-right: 250px;
}
.grid-split-auto-250 > .grid-split-outerright > .grid-split-right {
  width: 250px;
  left: -250px;
}
.grid-split-300-auto > .grid-split-outerleft > .grid-split-left {
  width: 300px;
}
.grid-split-300-auto > .grid-split-outerright {
  width: 100%;
  padding-left: 300px;
}
.grid-split-auto-300 > .grid-split-outerleft {
  width: 100%;
  padding-right: 300px;
}
.grid-split-auto-300 > .grid-split-outerright > .grid-split-right {
  width: 300px;
  left: -300px;
}
.grid-split-320-auto > .grid-split-outerleft > .grid-split-left {
  width: 320px;
}
.grid-split-320-auto > .grid-split-outerright {
  width: 100%;
  padding-left: 320px;
}
.grid-split-auto-320 > .grid-split-outerleft {
  width: 100%;
  padding-right: 320px;
}
.grid-split-auto-320 > .grid-split-outerright > .grid-split-right {
  width: 320px;
  left: -320px;
}
.grid-split-350-auto > .grid-split-outerleft > .grid-split-left {
  width: 350px;
}
.grid-split-350-auto > .grid-split-outerright {
  width: 100%;
  padding-left: 350px;
}
.grid-split-auto-350 > .grid-split-outerleft {
  width: 100%;
  padding-right: 350px;
}
.grid-split-auto-350 > .grid-split-outerright > .grid-split-right {
  width: 350px;
  left: -350px;
}
.grid-split-400-auto > .grid-split-outerleft > .grid-split-left {
  width: 400px;
}
.grid-split-400-auto > .grid-split-outerright {
  width: 100%;
  padding-left: 400px;
}
.grid-split-auto-400 > .grid-split-outerleft {
  width: 100%;
  padding-right: 400px;
}
.grid-split-auto-400 > .grid-split-outerright > .grid-split-right {
  width: 400px;
  left: -400px;
}
/* by percent */
.grid-split-10p-90p > .grid-split-outerleft {
  width: 10%;
}
.grid-split-10p-90p > .grid-split-outerright {
  width: 90%;
}
.grid-split-20p-80p > .grid-split-outerleft {
  width: 20%;
}
.grid-split-20p-80p > .grid-split-outerright {
  width: 80%;
}
.grid-split-30p-70p > .grid-split-outerleft {
  width: 30%;
}
.grid-split-30p-70p > .grid-split-outerright {
  width: 70%;
}
.grid-split-40p-60p > .grid-split-outerleft {
  width: 40%;
}
.grid-split-40p-60p > .grid-split-outerright {
  width: 60%;
}
.grid-split-50p-50p > .grid-split-outerleft,
.grid-split-50p-50p > .grid-split-outerright,
.grid-split-50p > .grid-split-outerleft,
.grid-split-50p > .grid-split-outerright {
  width: 50%;
}
.grid-split-60p-40p > .grid-split-outerleft {
  width: 60%;
}
.grid-split-60p-40p > .grid-split-outerright {
  width: 40%;
}
.grid-split-70p-30p > .grid-split-outerleft {
  width: 70%;
}
.grid-split-70p-30p > .grid-split-outerright {
  width: 30%;
}
.grid-split-80p-20p > .grid-split-outerleft {
  width: 80%;
}
.grid-split-80p-20p > .grid-split-outerright {
  width: 20%;
}
.grid-split-90p-10p > .grid-split-outerleft {
  width: 90%;
}
.grid-split-90p-10p > .grid-split-outerright {
  width: 10%;
}
/* show / hide */
/* --- defaults --- */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-100 {
  display: block;
  float: left;
  box-sizing: border-box;
}
.grid-1 {
  width: 8.33%;
}
.grid-2 {
  width: 16.66%;
}
.grid-3 {
  width: 25%;
}
.grid-4 {
  width: 33.33%;
}
.grid-5 {
  width: 41.66%;
}
.grid-6 {
  width: 50%;
}
.grid-7 {
  width: 58.33%;
}
.grid-8 {
  width: 66.66%;
}
.grid-9 {
  width: 75%;
}
.grid-10 {
  width: 83.33%;
}
.grid-11 {
  width: 91.66%;
}
.grid-12,
.grid-100 {
  width: 100%;
}
.grid-show-sm,
.grid-show-md,
.grid-show-lg,
.grid-show-xl,
.grid-show-xxl,
.grid-show-inline-sm,
.grid-show-inline-md,
.grid-show-inline-lg,
.grid-show-inline-xl,
.grid-show-inline-xxl,
.grid-show-inlineblock-sm,
.grid-show-inlineblock-md,
.grid-show-inlineblock-lg,
.grid-show-inlineblock-xl,
.grid-show-inlineblock-xxl,
.grid-hide {
  display: none !important;
}
.grid-show {
  display: block !important;
}
.grid-show-inline {
  display: inline !important;
}
.grid-show-inlineblock {
  display: inline-block !important;
}
.grid-flush {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-flush-ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-flush-top {
  padding-top: 0 !important;
}
.grid-flush-bottom {
  padding-bottom: 0 !important;
}
.grid-flush-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid-flush-left {
  padding-left: 0 !important;
}
.grid-flush-right {
  padding-right: 0 !important;
}
.grid-tiles {
  display: block;
}
.grid-tile {
  display: block;
  float: left;
}
.grid-tiles > .grid-tile {
  width: 20%;
}
.grid-tiles-10 > .grid-tile {
  width: 10%;
}
.grid-tiles-9 > .grid-tile {
  width: 11.11%;
}
.grid-tiles-8 > .grid-tile {
  width: 12.5%;
}
.grid-tiles-7 > .grid-tile {
  width: 14.28%;
}
.grid-tiles-6 > .grid-tile {
  width: 16.66%;
}
.grid-tiles-5 > .grid-tile {
  width: 20%;
}
.grid-tiles-4 > .grid-tile {
  width: 25%;
}
.grid-tiles-3 > .grid-tile {
  width: 33.33%;
}
.grid-tiles-2 > .grid-tile {
  width: 50%;
}
.grid-tiles-1 > .grid-tile {
  width: 100%;
}
/* --- extra extra large --- */
/* @media only screen and (min-width: 1100px) { */
.grid-xxl .grid-1-xxl {
  width: 8.33%;
}
.grid-xxl .grid-2-xxl {
  width: 16.66%;
}
.grid-xxl .grid-3-xxl {
  width: 25%;
}
.grid-xxl .grid-4-xxl {
  width: 33.33%;
}
.grid-xxl .grid-5-xxl {
  width: 41.66%;
}
.grid-xxl .grid-6-xxl {
  width: 50%;
}
.grid-xxl .grid-7-xxl {
  width: 58.33%;
}
.grid-xxl .grid-8-xxl {
  width: 66.66%;
}
.grid-xxl .grid-9-xxl {
  width: 75%;
}
.grid-xxl .grid-10-xxl {
  width: 83.33%;
}
.grid-xxl .grid-11-xxl {
  width: 91.66%;
}
.grid-xxl .grid-12-xxl,
.grid-xxl .grid-100p-xxl {
  width: 100%;
}
.grid-xxl .grid-hide-xxl {
  display: none !important;
}
.grid-xxl .grid-show-xxl {
  display: block !important;
}
.grid-xxl .grid-show-inline-xxl {
  display: inline !important;
}
.grid-xxl .grid-show-inlineblock-xxl {
  display: inline-block !important;
}
.grid-xxl .grid-flush-xxl {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-xxl .grid-flush-ends-xxl {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-xxl .grid-flush-top-xxl {
  padding-top: 0 !important;
}
.grid-xxl .grid-flush-bottom-xxl {
  padding-bottom: 0 !important;
}
.grid-xxl .grid-flush-sides-xxl {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid-xxl .grid-flush-left-xxl {
  padding-left: 0 !important;
}
.grid-xxl .grid-flush-right-xxl {
  padding-right: 0 !important;
}
.grid-xxl .grid-stack-xxl > div {
  float: none;
  width: 100%;
}
.grid-xxl .grid-stack-xxl > .grid-split-outerleft,
.grid-xxl .grid-stack-xxl > .grid-split-outerright {
  float: none;
  padding: 0;
  width: 100%;
}
.grid-xxl .grid-stack-xxl > .grid-split-outerleft > .grid-split-left,
.grid-xxl .grid-stack-xxl > .grid-split-outerright > .grid-split-right {
  width: 100%;
  left: 0;
}
.grid-xxl .grid-align-split-xxl {
  text-align: right;
}
.grid-xxl .grid-align-split-xxl {
  text-align: left;
}
.grid-xxl .grid-align-center-xxl {
  text-align: center;
}
.grid-xxl .grid-tiles-xxl > .grid-tile {
  width: 20%;
}
.grid-xxl .grid-tiles-10-xxl > .grid-tile {
  width: 10%;
}
.grid-xxl .grid-tiles-6-xxl > .grid-tile {
  width: 16.66%;
}
.grid-xxl .grid-tiles-5-xxl > .grid-tile {
  width: 20%;
}
.grid-xxl .grid-tiles-4-xxl > .grid-tile {
  width: 25%;
}
.grid-xxl .grid-tiles-3-xxl > .grid-tile {
  width: 33.33%;
}
.grid-xxl .grid-tiles-2-xxl > .grid-tile {
  width: 50%;
}
.grid-xxl .grid-tiles-1-xxl > .grid-tile {
  width: 100%;
}
/*}*/
/* --- extra large --- */
/* @media only screen and (min-width: 1100px) { */
.grid-xl .grid-1-xl {
  width: 8.33%;
}
.grid-xl .grid-2-xl {
  width: 16.66%;
}
.grid-xl .grid-3-xl {
  width: 25%;
}
.grid-xl .grid-4-xl {
  width: 33.33%;
}
.grid-xl .grid-5-xl {
  width: 41.66%;
}
.grid-xl .grid-6-xl {
  width: 50%;
}
.grid-xl .grid-7-xl {
  width: 58.33%;
}
.grid-xl .grid-8-xl {
  width: 66.66%;
}
.grid-xl .grid-9-xl {
  width: 75%;
}
.grid-xl .grid-10-xl {
  width: 83.33%;
}
.grid-xl .grid-11-xl {
  width: 91.66%;
}
.grid-xl .grid-12-xl,
.grid-xl .grid-100p-xl {
  width: 100%;
}
.grid-xl .grid-hide-xl {
  display: none !important;
}
.grid-xl .grid-show-xl {
  display: block !important;
}
.grid-xl .grid-show-inline-xl {
  display: inline !important;
}
.grid-xl .grid-show-inlineblock-xl {
  display: inline-block !important;
}
.grid-xl .grid-flush-xl {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-xl .grid-flush-ends-xl {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-xl .grid-flush-top-xl {
  padding-top: 0 !important;
}
.grid-xl .grid-flush-bottom-xl {
  padding-bottom: 0 !important;
}
.grid-xl .grid-flush-sides-xl {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid-xl .grid-flush-left-xl {
  padding-left: 0 !important;
}
.grid-xl .grid-flush-right-xl {
  padding-right: 0 !important;
}
.grid-xl .grid-stack-xl > div {
  float: none;
  width: 100%;
}
.grid-xl .grid-stack-xl > .grid-split-outerleft,
.grid-xl .grid-stack-xl > .grid-split-outerright {
  float: none;
  padding: 0;
  width: 100%;
}
.grid-xl .grid-stack-xl > .grid-split-outerleft > .grid-split-left,
.grid-xl .grid-stack-xl > .grid-split-outerright > .grid-split-right {
  width: 100%;
  left: 0;
}
.grid-xl .grid-align-split-xl {
  text-align: right;
}
.grid-xl .grid-align-split-xl {
  text-align: left;
}
.grid-xl .grid-align-center-xl {
  text-align: center;
}
.grid-xl .grid-tiles-xl > .grid-tile {
  width: 20%;
}
.grid-xl .grid-tiles-10-xl > .grid-tile {
  width: 10%;
}
.grid-xl .grid-tiles-6-xl > .grid-tile {
  width: 16.66%;
}
.grid-xl .grid-tiles-5-xl > .grid-tile {
  width: 20%;
}
.grid-xl .grid-tiles-4-xl > .grid-tile {
  width: 25%;
}
.grid-xl .grid-tiles-3-xl > .grid-tile {
  width: 33.33%;
}
.grid-xl .grid-tiles-2-xl > .grid-tile {
  width: 50%;
}
.grid-xl .grid-tiles-1-xl > .grid-tile {
  width: 100%;
}
/*}*/
/* --- large --- */
/* @media only screen and (max-width: 1100px) {*/
.grid-lg .grid-1-lg {
  width: 8.33%;
}
.grid-lg .grid-2-lg {
  width: 16.66%;
}
.grid-lg .grid-3-lg {
  width: 25%;
}
.grid-lg .grid-4-lg {
  width: 33.33%;
}
.grid-lg .grid-5-lg {
  width: 41.66%;
}
.grid-lg .grid-6-lg {
  width: 50%;
}
.grid-lg .grid-7-lg {
  width: 58.33%;
}
.grid-lg .grid-8-lg {
  width: 66.66%;
}
.grid-lg .grid-9-lg {
  width: 75%;
}
.grid-lg .grid-10-lg {
  width: 83.33%;
}
.grid-lg .grid-11-lg {
  width: 91.66%;
}
.grid-lg .grid-12-lg,
.grid-lg .grid-100p-lg {
  width: 100%;
}
.grid-lg .grid-hide-lg {
  display: none !important;
}
.grid-lg .grid-show-lg {
  display: block !important;
}
.grid-lg .grid-show-inline-lg {
  display: inline !important;
}
.grid-lg .grid-show-inlineblock-lg {
  display: inline-block !important;
}
.grid-lg .grid-flush-lg {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-lg .grid-flush-ends-lg {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-lg .grid-flush-top-lg {
  padding-top: 0 !important;
}
.grid-lg .grid-flush-bottom-lg {
  padding-bottom: 0 !important;
}
.grid-lg .grid-flush-sides-lg {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid-lg .grid-flush-left-lg {
  padding-left: 0 !important;
}
.grid-lg .grid-flush-right-lg {
  padding-right: 0 !important;
}
.grid-lg .grid-stack-lg > div {
  float: none;
  width: 100%;
}
.grid-lg .grid-stack-lg > .grid-split-outerleft,
.grid-lg .grid-stack-lg > .grid-split-outerright {
  float: none;
  padding: 0;
  width: 100%;
}
.grid-lg .grid-stack-lg > .grid-split-outerleft > .grid-split-left,
.grid-lg .grid-stack-lg > .grid-split-outerright > .grid-split-right {
  width: 100%;
  left: 0;
}
.grid-lg .grid-align-right-lg {
  text-align: right;
}
.grid-lg .grid-align-left-lg {
  text-align: left;
}
.grid-lg .grid-align-center-lg {
  text-align: center;
}
.grid-lg .grid-tiles-lg > .grid-tile {
  width: 20%;
}
.grid-lg .grid-tiles-10-lg > .grid-tile {
  width: 10%;
}
.grid-lg .grid-tiles-9-lg > .grid-tile {
  width: 11.11%;
}
.grid-lg .grid-tiles-8-lg > .grid-tile {
  width: 12.5%;
}
.grid-lg .grid-tiles-7-lg > .grid-tile {
  width: 14.28%;
}
.grid-lg .grid-tiles-6-lg > .grid-tile {
  width: 16.66%;
}
.grid-lg .grid-tiles-5-lg > .grid-tile {
  width: 20%;
}
.grid-lg .grid-tiles-4-lg > .grid-tile {
  width: 25%;
}
.grid-lg .grid-tiles-3-lg > .grid-tile {
  width: 33.33%;
}
.grid-lg .grid-tiles-2-lg > .grid-tile {
  width: 50%;
}
.grid-lg .grid-tiles-1-lg > .grid-tile {
  width: 100%;
}
/*}*/
/* --- medium --- */
/* @media only screen and (max-width: 800px) {*/
.grid-md .grid-1-md {
  width: 8.33%;
}
.grid-md .grid-2-md {
  width: 16.66%;
}
.grid-md .grid-3-md {
  width: 25%;
}
.grid-md .grid-4-md {
  width: 33.33%;
}
.grid-md .grid-5-md {
  width: 41.66%;
}
.grid-md .grid-6-md {
  width: 50%;
}
.grid-md .grid-7-md {
  width: 58.33%;
}
.grid-md .grid-8-md {
  width: 66.66%;
}
.grid-md .grid-9-md {
  width: 75%;
}
.grid-md .grid-10-md {
  width: 83.33%;
}
.grid-md .grid-11-md {
  width: 91.66%;
}
.grid-md .grid-12-md,
.grid-md .grid-100p-md {
  width: 100%;
}
.grid-md .grid-hide-md {
  display: none !important;
}
.grid-md .grid-show-md {
  display: block !important;
}
.grid-md .grid-show-inline-md {
  display: inline !important;
}
.grid-md .grid-show-inlineblock-md {
  display: inline-block !important;
}
.grid-md .grid-flush-md {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-md .grid-flush-ends-md {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-md .grid-flush-top-md {
  padding-top: 0 !important;
}
.grid-md .grid-flush-bottom-md {
  padding-bottom: 0 !important;
}
.grid-md .grid-flush-sides-md {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid-md .grid-flush-left-md {
  padding-left: 0 !important;
}
.grid-md .grid-flush-right-md {
  padding-right: 0 !important;
}
.grid-md .grid-stack-md > div {
  float: none;
  width: 100%;
}
.grid-md .grid-stack-md > .grid-split-outerleft,
.grid-md .grid-stack-md > .grid-split-outerright {
  float: none;
  padding: 0;
  width: 100%;
}
.grid-md .grid-stack-md > .grid-split-outerleft > .grid-split-left,
.grid-md .grid-stack-md > .grid-split-outerright > .grid-split-right {
  width: 100%;
  left: 0;
}
.grid-md .grid-align-right-md {
  text-align: right;
}
.grid-md .grid-align-left-md {
  text-align: left;
}
.grid-md .grid-align-center-md {
  text-align: center;
}
.grid-md .grid-tiles-md > .grid-tile {
  width: 20%;
}
.grid-md .grid-tiles-10-md > .grid-tile {
  width: 10%;
}
.grid-md .grid-tiles-9-md > .grid-tile {
  width: 11.11%;
}
.grid-md .grid-tiles-8-md > .grid-tile {
  width: 12.5%;
}
.grid-md .grid-tiles-7-md > .grid-tile {
  width: 14.28%;
}
.grid-md .grid-tiles-6-md > .grid-tile {
  width: 16.66%;
}
.grid-md .grid-tiles-5-md > .grid-tile {
  width: 20%;
}
.grid-md .grid-tiles-4-md > .grid-tile {
  width: 25%;
}
.grid-md .grid-tiles-3-md > .grid-tile {
  width: 33.33%;
}
.grid-md .grid-tiles-2-md > .grid-tile {
  width: 50%;
}
.grid-md .grid-tiles-1-md > .grid-tile {
  width: 100%;
}
/*}*/
/* --- small --- */
/* @media only screen and (max-width: 500px) {*/
.grid-sm .grid-1-sm {
  width: 8.33%;
}
.grid-sm .grid-2-sm {
  width: 16.66%;
}
.grid-sm .grid-3-sm {
  width: 25%;
}
.grid-sm .grid-4-sm {
  width: 33.33%;
}
.grid-sm .grid-5-sm {
  width: 41.66%;
}
.grid-sm .grid-6-sm {
  width: 50%;
}
.grid-sm .grid-7-sm {
  width: 58.33%;
}
.grid-sm .grid-8-sm {
  width: 66.66%;
}
.grid-sm .grid-9-sm {
  width: 75%;
}
.grid-sm .grid-10-sm {
  width: 83.33%;
}
.grid-sm .grid-11-sm {
  width: 91.66%;
}
.grid-sm .grid-12-sm,
.grid-sm .grid-100p-sm {
  width: 100%;
}
.grid-sm .grid-hide-sm {
  display: none !important;
}
.grid-sm .grid-show-sm {
  display: block !important;
}
.grid-sm .grid-show-inline-sm {
  display: inline !important;
}
.grid-sm .grid-show-inlineblock-sm {
  display: inline-block !important;
}
.grid-sm .grid-flush-sm {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-sm .grid-flush-ends-sm {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-sm .grid-flush-top-sm {
  padding-top: 0 !important;
}
.grid-sm .grid-flush-bottom-sm {
  padding-bottom: 0 !important;
}
.grid-sm .grid-flush-sides-sm {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid-sm .grid-flush-left-sm {
  padding-left: 0 !important;
}
.grid-sm .grid-flush-right-sm {
  padding-right: 0 !important;
}
.grid-sm .grid-stack-sm > div {
  float: none;
  width: 100%;
}
.grid-sm .grid-stack-sm > .grid-split-outerleft,
.grid-sm .grid-stack-sm > .grid-split-outerright {
  float: none;
  padding: 0;
  width: 100%;
}
.grid-sm .grid-stack-sm > .grid-split-outerleft > .grid-split-left,
.grid-sm .grid-stack-sm > .grid-split-outerright > .grid-split-right {
  width: 100%;
  left: 0;
}
.grid-sm .grid-align-right-sm {
  text-align: right;
}
.grid-sm .grid-align-left-sm {
  text-align: left;
}
.grid-sm .grid-align-center-sm {
  text-align: center;
}
.grid-sm .grid-tiles-sm > .grid-tile {
  width: 20%;
}
.grid-sm .grid-tiles-10-sm > .grid-tile {
  width: 10%;
}
.grid-sm .grid-tiles-9-sm > .grid-tile {
  width: 11.11%;
}
.grid-sm .grid-tiles-8-sm > .grid-tile {
  width: 12.5%;
}
.grid-sm .grid-tiles-7-sm > .grid-tile {
  width: 14.28%;
}
.grid-sm .grid-tiles-6-sm > .grid-tile {
  width: 16.66%;
}
.grid-sm .grid-tiles-5-sm > .grid-tile {
  width: 20%;
}
.grid-sm .grid-tiles-4-sm > .grid-tile {
  width: 25%;
}
.grid-sm .grid-tiles-3-sm > .grid-tile {
  width: 33.33%;
}
.grid-sm .grid-tiles-2-sm > .grid-tile {
  width: 50%;
}
.grid-sm .grid-tiles-1-sm > .grid-tile {
  width: 100%;
}
/*}*/
/* --- small --- */
/* @media only screen and (max-width: 350px) {*/
.grid-xs .grid-1-xs {
  width: 8.33%;
}
.grid-xs .grid-2-xs {
  width: 16.66%;
}
.grid-xs .grid-3-xs {
  width: 25%;
}
.grid-xs .grid-4-xs {
  width: 33.33%;
}
.grid-xs .grid-5-xs {
  width: 41.66%;
}
.grid-xs .grid-6-xs {
  width: 50%;
}
.grid-xs .grid-7-xs {
  width: 58.33%;
}
.grid-xs .grid-8-xs {
  width: 66.66%;
}
.grid-xs .grid-9-xs {
  width: 75%;
}
.grid-xs .grid-10-xs {
  width: 83.33%;
}
.grid-xs .grid-11-xs {
  width: 91.66%;
}
.grid-xs .grid-12-xs,
.grid-xs .grid-100p-xs {
  width: 100%;
}
.grid-xs .grid-hide-xs {
  display: none !important;
}
.grid-xs .grid-show-xs {
  display: block !important;
}
.grid-xs .grid-show-inline-xs {
  display: inline !important;
}
.grid-xs .grid-show-inlineblock-xs {
  display: inline-block !important;
}
.grid-xs .grid-flush-xs {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-xs .grid-flush-ends-xs {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-xs .grid-flush-top-xs {
  padding-top: 0 !important;
}
.grid-xs .grid-flush-bottom-xs {
  padding-bottom: 0 !important;
}
.grid-xs .grid-flush-sides-xs {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid-xs .grid-flush-left-xs {
  padding-left: 0 !important;
}
.grid-xs .grid-flush-right-xs {
  padding-right: 0 !important;
}
.grid-xs .grid-stack-xs > div {
  float: none;
  width: 100%;
}
.grid-xs .grid-stack-xs > .grid-split-outerleft,
.grid-xs .grid-stack-xs > .grid-split-outerright {
  float: none;
  padding: 0;
  width: 100%;
}
.grid-xs .grid-stack-xs > .grid-split-outerleft > .grid-split-left,
.grid-xs .grid-stack-xs > .grid-split-outerright > .grid-split-right {
  width: 100%;
  left: 0;
}
.grid-xs .grid-align-right-xs {
  text-align: right;
}
.grid-xs .grid-align-left-xs {
  text-align: left;
}
.grid-xs .grid-align-center-xs {
  text-align: center;
}
.grid-xs .grid-tiles-xs > .grid-tile {
  width: 20%;
}
.grid-xs .grid-tiles-10-xs > .grid-tile {
  width: 10%;
}
.grid-xs .grid-tiles-9-xs > .grid-tile {
  width: 11.11%;
}
.grid-xs .grid-tiles-8-xs > .grid-tile {
  width: 12.5%;
}
.grid-xs .grid-tiles-7-xs > .grid-tile {
  width: 14.28%;
}
.grid-xs .grid-tiles-6-xs > .grid-tile {
  width: 16.66%;
}
.grid-xs .grid-tiles-5-xs > .grid-tile {
  width: 20%;
}
.grid-xs .grid-tiles-4-xs > .grid-tile {
  width: 25%;
}
.grid-xs .grid-tiles-3-xs > .grid-tile {
  width: 33.33%;
}
.grid-xs .grid-tiles-2-xs > .grid-tile {
  width: 50%;
}
.grid-xs .grid-tiles-1-xs > .grid-tile {
  width: 100%;
}
/*}*/
